<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Formulario</title>
	<link rel="stylesheet" href="/css/estilos.css"></link>
</head>

<body>
	<header>
		<h1>Gianella</h1>
	<nav>
		<ol>
			<li><a href="">Inicio</a></li>
			<li><a href="">Contenido</a></li>
			<li><a href="">Final</a></li>
		</ol>
	</nav>
	</header>
	
	<main class="main">
		<h1>Formulario</h1>
		<form>
			<label for="DNI">DNI: </label>
			<input id="DNI" type="number" required placeholder="Ingrese el dni" name="DNI"></input><br><br>
			<label for="nombre">Nombre: </label>
			<input id="nombre" type="text" required placeholder="Ingrese su nombre" name="nombre"></input><br><br>
			<label for="apellido">Apellido: </label>
			<input id="apellido" type="text" required placeholder="Ingrese su apellido" name="apellido"></input><br><br>
			<label for="fecnac">Fecha de Nacimiento: </label>
			<input id="fecnac" type="date" required placeholder="Ingrese su fecha de nacimiento" name="fecnac"></input><br><br>
			
			<div>
			<label for="genM">Masculino: </label>
			<input id="genM" type="radio" value="Masculino" name="genero"></input><br>
			<label for="genF">Femenino: </label>
			<input id="genF" type="radio" value="Femenino" name="genero"></input><br>
			<label for="genX">X:</label>
			<input id="genX" type="radio" value="X" name="genero"></input><br>
			</div><br>
			<label for="correo">Correo Electronico: </label>
			<input id="correo" type="email" name="Correo" placeholder="Ingrese su email" required></input><br><br>
			<label for="domicilio">Domicilio: </label>
			<input id="domicilio" type="text" required placeholder="Ingrese su domicilio" name="domicilio"></input><br><br>
			<label for="provincia">Provincia: </label>
			<select id="provincia" name="prvincia">
				<option value="Jujuy">Jujuy</option>
				<option value="Salta">Salta</option>
				<option value="Tucuman">Tucuman</option>
				<option value="Formosa">Formosa</option>
				<option value="Chaco">Chaco</option>
			</select><br><br>
			<label for="cel">Telefono celular: </label>
			<input id="cel" type="number" required placeholder="Ingrese su numero celular" name="cel"></input><br><br>
			<label>Categoria de Intereses</label>
				<div>
					<label for="intereses">Musica</label>
					<input id="intereses" type="checkbox" name="intereses"></input><br>
					<label for="intereses">Gastronomia</label>
					<input id="intereses" type="checkbox" name="intereses"></input><br>
					<label for="intereses">Arte</label>
					<input id="intereses" type="checkbox" name="intereses"></input><br>
					<label for="intereses">Deporte</label>
					<input id="intereses" type="checkbox" name="intereses"></input><br>
					<label for="intereses">Redes Sociales</label>
					<input id="intereses" type="checkbox" name="intereses"></input><br>
					<label for="intereses">Produccion</label>
					<input id="intereses" type="checkbox" name="intereses"></input><br>
					<label for="intereses">Idiomas</label>
					<input id="intereses" type="checkbox" name="intereses"></input><br>
				
				</div><br>
			<label>Sugerencias: </label><br>
			<textarea id="sugerencias" placeholder="Deja tus comentarios o sugerencias" rows="10" cols="60"></textarea><br><br>
			<label for="password">Password: </label>
			<input id="password" type="password" required placeholder="Ingrese su contraseña" name="password" maxlength="12" minlength="7"></input><br><br>
			<label for="passwordd">Confirmar Password: </label>
			<input id="passwordd" type="password" required placeholder="Ingrese nuevamente su contraseña" name="passwordd" maxlength="12" minlength="7"></input><br><br>
			<label for="tc">Acepto Terminos y Condiciones</label>
			<input id="tc" type="checkbox" name="tc"></input><br><br>
			<label for="ie">Acepto recibir Informacion relativa a la Empresa</label>
			<input id="ie" type="checkbox" name="ie"></input><br><br>
			<input type="submit" value="Guardar">
			<input type="button" value="Cancelar">
		</form>
	</main>
	<footer>
	<h2>Contactos</h2>
	<p><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">gmail</a></p>
	<p><a href="https://www.facebook.com/?locale=es_LA">Facebook</a></p>
	
	</footer>
</body>
</html>