<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Mamani Gianella</title>
	<link rel="stylesheet" href="/css/estilos.css"></link>
</head>

<body>
	<header id="header">
		<h1 class="h1">JAVA</h1>
		<nav>
			<ol class="ol">
			<li><a href="">Inicio</a></li>
			<li><a href="">Contenido</a></li>
			<li><a href="">Final</a></li>
			</ol>
		</nav>
	</header>
	
	<div class="container">
	<main class="main">
	
		<section class="section1">
			<h2 class="h2">Introduccion a java</h2>
			<h3 class="h3">Que es Java?</h3>
				<p class="p">Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems.​
				El lenguaje de programación Java fue desarrollado originalmente por James Gosling, de Sun Microsystems​ y publicado en 1995 como un componente fundamental de la plataforma Java de Sun Microsystems. Su sintaxis deriva en gran medida de C y C++, pero tiene menos utilidades de bajo nivel que cualquiera de ellos. Las aplicaciones de Java son compiladas a bytecode (clase Java), que puede ejecutarse en cualquier máquina virtual Java (JVM) sin importar la arquitectura de la computadora subyacente.</p>
				<p class="p">La plataforma Java difiere respecto de las plataformas
				debido a que es una plataforma software que se ejecuta sobre las prestaciones que brinda otra
				plataforma que gestiona el hardware</p>
				<p class="p">La JVM es un intérprete. Los intérpretes son programas que permiten traducir el código creado
				por un programador en un lenguaje de alto nivel a código máquina.
				Pero, la JVM es particularmente especial. En lugar de traducir código fuente, traduce un tipo de
				código denominado bytecode al código máquina de la plataforma base al momento de ejecutar
				la aplicación.</p>
			<h3 class="h3">Lenguaje de programacion java</h3>
				<p class="p">Es un lenguaje de programación de alto nivel. Su creador James Gosling lo define en base a sus
				características: sencillo, orientado a objetos, distribuido, interpretado, robusto, seguro,
				independiente de las arquitecturas, portable, eficaz, multitarea y dinámico. Antes de poder
				describir en detalle cada una de estas características es conveniente indicar como funciona el
				proceso de desarrollo de una aplicación Java.</p>
				<p class="p">En el lenguaje de programación Java, todo el código fuente se escribe en archivos de texto plano
				con la extensión .java. Estos archivos fuente son entonces compilados por una herramienta de
				la plataforma denominada compilador javac guardando el resultado en archivos con el mismo nombre, pero con extensión .class. Un archivo .class no contiene código nativo para el procesador de la plataforma base, sino que contiene un tipo de código denominado bytecode (lenguaje binario
				intermedio). Los bytecode se pueden considerar el lenguaje máquina de la JVM, debido a que la JVM es la encargada de traducir los bytecode en el código máquina del ordenador,</p>
		</section>
		<section class="section2">
			<h3 class="h3">Características de Java</h3>
			
			<ul class="ul">
			<li class="li">Sencillo: La sintaxis de Java es similar a la de los lenguajes C y C++, pero evita
			características semánticas que los vuelven complejos, confusos y poco seguros</li>
			<li class="li">Orientado a objetos: Salvo los tipos de datos primitivos, todo en Java es concebido
			como un objeto. Y, además, Java se ha provisto de clases incorporadas que encapsulan
			los tipos primitivos (los wrappers). Las ventajas de la
			programación orientada a objetos de forma resumida son: un mejor dominio de la
			complejidad, una reutilización más sencilla, y una mayor facilidad de corrección y de evolución. </li>
			<li class="li">Multitarea: Java permite desarrollar aplicaciones que ponen en marcha la ejecución
			simultánea de varios hilos (o procesos ligeros). Esto permite efectuar simultáneamente
			varias tareas, con el fin de aumentar la velocidad de las aplicaciones</li>
			<li class="li">Distribuido: Java implementa los protocolos de red estándar, lo que permite desarrollar
			aplicaciones cliente/servidor en arquitecturas distribuidas, con el fin de invocar
			tratamientos y/o recuperar datos de máquinas remotas. Con este fin, Java estándar
			cuenta con API´s que permiten crear aplicaciones cliente/servidor distribuidas</li>
			<li class="li">Portable: Java es portable gracias a que se trata de un lenguaje interpretado (haciendo
			referencia al proceso de interpretar bytecode). Además, a diferencia del lenguaje C y
			C++, los tipos de datos primitivos (numéricos, carácter y booleano) de Java tienen el
			mismo tamaño, sea cual sea la plataforma en la cual se ejecuta el código. Las bibliotecas
			de clases estándar de Java facilitan la escritura de código fuente que, a continuación, se
			puede desplegar en diferentes plataformas sin adaptación</li>
			<li class="li">Dinámico: En Java, el programador no tiene que editar los vínculos (obligatorio en C y
			C++). Por lo tanto, es posible modificar una o varias clases sin tener que efectuar una
			actualización de estas modificaciones para el conjunto del programa. La comprobación
			de la existencia de las clases se realiza en tiempo de compilación y la llamada al código
			de estas clases sólo se hace en el momento de la ejecución del programa. Este proceso
			permite disponer de aplicaciones más ligeras de tamaño en memoria.</li>
			</ul>
			<p>
			
		</section>
		
		<section class="section3">
		<h3 class="h3">Ediciones de la plataforma Java</h3>
		
			<table class="table">
				<tr>
					<th class="th">Ediciones</th>
					<th class="th">Java SE</th>
					<th class="th">JavaFX</th>
					<th class="th">Java EE</th>
					<th class="th">Java ME</th>
				</tr>
				
				<tr>
					<th class="th">Caracteristicas</th>
					<td class="td">Standard Edition es la edición más difundida de la plataforma Java.</td>
					<td class="td">JavaFX era una alternativa a Java SE, de la cual forma parte desde la versión 7 de dicha edición.</td>
					<td class="td">Denominada Enterprise Edition de la plataforma Java.</td>
					<td class="td"> Micro Edition. enfocada a sistemas de recursos limitados.</td>
				</tr>
				
				
				<tr>
					<th class="th">Usos</th>
					<td class="td">Necesario para crear aplicaciones de escritorio con o sin interfaz
gráfica de usuario, acceso al sistema de archivos, comunicación a través de redes,
concurrencia y otros servicios básicos.</td>
					<td class="td">Para el desarrollo de
proyectos de tipo RIA (Rich Internet Applications), capacidad de aceleración 3D aprovechando la GPU, servicios avanzados para
producción de gráficos y animaciones, y un mecanismo simplificado para el diseño de
interfaces de usuario. </td>
					<td class="td">Dirigida al
desarrollo de soluciones software que se ejecutarán en un servidor de aplicaciones. La edición EE agrega servicios para gestionar la persistencia
de objetos en bases de datos, hacer posible la invocación remota de métodos, crear
aplicaciones con interfaz de usuario web, etc</td>
					<td class="td"> Está enfocada a la creación de programas que se ejecutarán
en sistemas con recursos limitados, tales como teléfonos móviles, electrodomésticos y
dispositivos de domótica o equipos para entornos empotrados como la Rasperry Pi y
similares.</td>
				</tr>
			</table>
			
			
			<p><img alt="imagen" src="/imagenes/java.jpg" class="img"></p>
			
		</section>

		
	</main>
	
	<aside class="aside">
	<p><a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start">Unju virtual</a></p>
	<p><a href="formCliente.html">Formulario</a></p>
	<p><img alt="imagen" src="/imagenes/logojava.png" class="img"></p>
	
	</aside>
	</div>
	

	<footer id="footer">
	<h2>Siguenos en nuestras redes sociales por cualquier consulta</h2>
	<p><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">gmail</a></p>
	<p><a href="https://www.facebook.com/?locale=es_LA">Facebook</a></p>
	<p><a href="https://x.com/?lang=es">Twitter</a></p>
	</footer>
	

	
</body>
</html>